/* applies to anything of class "example-class-selector" */
.example-class-selector {
     margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */
     color: #CC00AA;
}

.project {
     margin-left: 20px;
}

.centering{
     text-align: center;
}

.row{
     margin-top: 5px;
}

.colored{
     color:white;
}
/*
.fixed{
     position: fixed;
     top: 2%;
} */
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
.font {
     font-family: 'Open Sans', sans-serif; 
} 

.jumbotron {
     
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     position: absolute;
     z-index: -1;
}
